.w-80 {
    width: 80%;
}

/* Hero Card - Hero Component - Start */
.hero-card {
    height: 100vh;
}

.hero-card a {
    color: white;
}

.hero-card a:hover {
    scale: 110%;
}

.hero-card .typewriter-text {
    color: rgb(163 163 163);
}

.hero-card .typewriter-cursor {
    display: inline-block;
    width: 1px;
    background-color: black;
    animation: blink 0.7s steps(2, start) infinite;
}
  
@keyframes blink {
    0%, 50% {
        opacity: 1;
    }
    50.01%, 100% {
        opacity: 0;
    }
}

.hero-card .resume {
    background-color: hsla(0, 0%, 100%, .2);
    text-decoration: none;
}
/* Hero Card - Hero Component - End */

/* About Card - About Component */
.about-card {
    background-color: rgb(55 48 163);
    color: rgb(229 229 229);
    background-image: radial-gradient(88% 100% at top, hsla(0, 0%, 100%, .5), hsla(0, 0%, 100%, 0));
}

/* Skills Card - Skills Component - Start */
.skills-card {
    border: 2px solid rgb(82 82 82);
    flex-direction: column;
}

.skills-card .skill {
    background-color: rgb(46 46 46);
}

.skills-card .skill-cloud-container {
    display: flex;
    justify-content: center;
}

@media (min-width: 700px) {
    .skills-card {
        flex-direction: row;
    }

    .skills-card .skill-container {
        width: 75%;
        /* padding: 1.5rem; */
    }

    .skills-card .skill-cloud-container {
        width: 25%;
        align-items: center;
    }
}
/* Skills Card - Skills Component - End */

/* Experience Card - Experience Component - Start */
.experience-card {
    background-color: rgb(30 58 138);
    color: rgb(229 229 229);
    background-image: radial-gradient(88% 100% at top, hsla(0, 0%, 100%, .5), hsla(0, 0%, 100%, 0));
}

.experience-card .experience-header-container {
    flex-direction: column;
}

@media (min-width: 700px) {
    .experience-card .experience-header-container {
        flex-direction: row;
        justify-content: space-between;
    }
}
/* Experience Card - Experience Component - End */

/* Contact Card - Contact Component - Start */
.contact-card {
    position: relative;
    overflow: hidden;
  }
  
  .contact-card .background-svg {
    pointer-events: none;
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    fill: rgba(156, 163, 175, 0.3);
    stroke: rgba(156, 163, 175, 0.3);
    mask-image: radial-gradient(300px circle at center, white, transparent);
  }  

  .contact-card .socials {
    color: rgb(163 163 163);
}

.contact-card a.socials {
    text-decoration: none;
}

.contact-card a.socials:hover {
    color: white;
    text-decoration: underline;
}

.contact-card .contact-container {
    flex-direction: column;
    padding: 0;
}

.contact-card .contact-detail {
    width: 100%;
}

@media (min-width: 700px) {
    .contact-card .contact-container {
        flex-wrap: wrap;
        padding: 0 1.5rem;
        flex-direction: row;
    }

    .contact-card .contact-detail {
        width: 50%;
    }

    .contact-card .background-svg {
        mask-image: none;
    }  
}
/* Contact Card - Contact Component - End */
